{{#partial "content"}}
    <h2>attendee-details.hbs</h2>

    <!--<h2>{{attendee.attendeeName}}</h2>-->
    <!--<br>-->
    <!--<p>Add new attendee:</p>-->
    <!--<form action="/events/{{event.idEvent}}/attendee/new" method="post">-->

    <!--<label for="attendee-name">Name:</label>-->
    <!--<input id="attendee-name" name="attendee-name" type="text" value="">-->
    <!--<br>-->

    <!--<button class="btn btn-default" type="submit">ADD ATTENDEE</button>-->
    <!--</form>-->

    <!--<br>-->
    <!--<a href="/events/{{event.idEvent}}/update">EDIT EVENT</a>-->
    <!--<br>-->
    <!--<a href="/"><button class="btn btn-default"><</button></a>-->

{{/partial}}
{{> layout.hbs}}