{{#partial "content"}}

    <div class="well">

        <form actions="/events/create" method="post">

            <label for="eventTitle">Title of the Event :</label>
            <input id="eventTitle" name="eventTitle" type="text" value="title-1.0">
            <br>
            <label for="eventDescription">Description of the Event:</label>
            <input id="eventDescription" name="eventDescription" type="text" value="description-1.0">
            <br>
            <button type="submit" class="btn btn-default">CREATE EVENT</button>

        </form>
    </div>

{{/partial}}
{{> layout.hbs}}