<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}WEEKEND STARTUP{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">HOME</a></li>
    <li role="presentation"><a href="/events/new">CREATE EVENT</a></li>
    <li role="presentation"><a href="/events/delete">CLEAR EVENTS</a></li>
</ul>

<div class="container">

    <div class="page-header">
        <h1>STARTUP WEEKEND</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>

</div>

{{#block "footer"}}
    <footer class="footer">
    </footer>
    </body>
    </html>
{{/block}}
